.about {
  width: 76%;
  margin: 0 auto;
  // padding: 0 12% 0 12%;
  .main_about {
    display: flex;
    padding: 100px 0 100px 0;
    .about_right {
      margin-left: 175px;
      h1 {
        display: inline-block;
        border-bottom: 3px solid #fcac45;
        padding-bottom: 20px;
      }
      p {
        margin: 30px 0 50px 0;
        color: #6c6c6c;
      }
      ul {
        li {
          background: url('../img/mark.png') 0px no-repeat;
          padding-left: 25px;
          margin-top: 10px;
        }
      }
    }
    .about_left {
      .mw-100 {
        min-width: 100%;
      }
    }
  }
}
