.clients {
  background: #000;
  .main_clients {
    width: 76%;
    margin: 0 auto;
    padding: 100px 0 205px 0;
    color: #fff;
    text-align: center;
     h1 {
       margin-bottom: 30px;
     }
     h1:after {
       content: "";
       display: block;
       margin: 0 auto;
       width: 100px;
       margin-top: 30px;
       border-bottom: 3px solid #fcac45;
     }
    .our_clients {
      img {
        margin-top: 10px;
        margin-left: 30px;
      }
    }
  }
}
