.testimonials {
  background: #000;
  .main_testimonials {
    width: 76%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    h1 {
      padding-top: 100px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 50px;
      text-transform: uppercase;
    }
    p {
      padding-bottom: 170px;
      .testimonial {
        text-transform: uppercase;

      }
    }
    h1:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 100px;
      margin-top: 30px;
      border-bottom: 3px solid #fcac45;
    }
  }
}
